$font-family: 'Open Sans', sans-serif;
$font-family-second: 'Raleway', sans-serif;
$body-bg-color: #fff;
$text-color: #000;
$link-color: #222;
$link-active-color: #27d3b4;
$text-color-secondary: #309c89;
$title-color: #000;

@mixin respond($media) {
    @if $media == sm {
        @media only screen and (max-width: 480px) {
            @content;
        }
    } @else if $media == md {
        @media only screen and (min-width: 481px) and (max-width: 991px) {
            @content;
        }
    } @else if $media == xl {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }
}

@mixin rotate($angle) {
    transform: rotate($angle);
}

@mixin arrow($arrowSize: 20px, $arrowBorderSize: 3px, $arrowBarWidth: 2px, $arrowBarHeight: 25px) {
    display: inline-block;
    height: $arrowSize;
    position: relative;
    width: $arrowSize;

    &::after {
        border-bottom-style: solid;
        border-bottom-width: $arrowBorderSize;
        border-right-style: solid;
        border-right-width: $arrowBorderSize;
        content: '';
        display: inline-block;
        height: $arrowSize;
        left: 0;
        position: absolute;
        top: 0;
        width: $arrowSize;
    }

    // Triangle shape state
    &.is-triangle::after {
        border-style: solid;
        border-width: 0 0 $arrowSize $arrowSize;
        height: 0;
        width: 0;
    }

    // Check shape state
    &.is-check::after {
        width: $arrowSize / 2;
    }

    // Arrow Bar
    &.arrow-bar::before {
        @include rotate(-45deg);
        bottom: 0;
        content: '';
        height: $arrowBarHeight;
        position: absolute;
        right: -1px;
        transform-origin: bottom;
        width: $arrowBarWidth;
    }

    // States
    &.is-top {
        @include rotate(225deg);
    }

    &.is-right {
        @include rotate(315deg);
    }

    &.is-bottom {
        @include rotate(45deg);
    }

    &.is-left {
        @include rotate(135deg);
    }
}

@mixin arrow-color($color) {
    &,
    .arrow {
        &::after {
            border-color: $color;
        }

        &.is-triangle::after {
            border-color: transparent;
            border-bottom-color: $color;
        }

        &::before {
            background-color: $color;
        }
    }
}
