@import 'variables';
@import 'fonts';

html,
body {
    height: 100%;
    font-family: $font-family,sans-serif;
    font-size: 16px;
    color: $text-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-bg-color;
    margin: 0;
    @include respond(md) {
        font-size: 14px;
    }
    @include respond(sm) {
        font-size: 12px;
    }
}

* {
    box-sizing: border-box;
}

main {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    display: block;
    width: 100%;
}

footer {
    padding: 15px 0;
    text-align: left;
    color: #000;
    font-size: (12 / 16) + rem;
    @include respond(sm) {
        font-size: (16 / 16) + rem;
    }
}

section {
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-active-color;
        transition: color 0.4s ease 0s;
    }
}

.button {
    border-radius: 4px;
    padding: 10px 20px;
    line-height: 1;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.content {
    position: relative;
    padding-left: 20%;
    //padding-right: 10%;
    @include respond(sm) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.footer-content {
    position: inherit;
}

.content-home {
    padding-right: 0;
    @include respond(sm) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.button {
    cursor: pointer;
}

h2 {
    &.title {
        font-family: $font-family-second;
        font-size: (20 / 16) + rem;
        font-weight: 500;
        color: $text-color-secondary;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
}

.main-banner {
    position: relative;
}

.block-main-title {
    position: absolute;
    top: 220px;
    left: 0;
    max-width: 40%;
    //overflow-wrap: break-word;
    z-index: 100;
    @include respond(sm) {
        top: -50px;
        left: 18px;
        max-width: 80%;

        .content-home & {
            top: -58px;
        }
    }
    @include respond(md) {
        top: 90px;
        left: 5px;
        max-width: 60%;
    }

    .subtitle-wrap {
        max-width: 300px;
        margin-bottom: 40px;
    }

    .title,
    .subtitle {
        display: inline;
        font-family: $font-family-second;
        font-size: (68 / 16) + rem;
        text-transform: uppercase;
        background-color: $body-bg-color;
        color: $title-color;
        line-height: 1.1;
        letter-spacing: 5px;
        @include respond(md) {
            font-size: (48 / 16) + rem;
        }
    }

    .title {
        @include respond(sm) {
            font-size: (32 / 16) + rem;
            letter-spacing: 1px;
        }
    }

    .subtitle {
        font-size: (30 / 16) + rem;
        max-width: 200px;
        font-weight: bold;
        font-family: $font-family;
        @include respond(sm) {
            font-size: (24 / 18) + rem;
            letter-spacing: 1px;
        }
    }
}

.about-text-block,
.main-quotes {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 60px;
    border-bottom: 1px solid #000;

    .quotes {
        flex: 0 0 56%;

        .inner {
            padding-right: 10%;
        }
    }

    .quote {
        margin-bottom: 30px;
    }

    .quote-text {
        color: $text-color-secondary;
        font-size: (30 / 16) + rem;
        line-height: 1.1;
        font-weight: 400;
        font-family: $font-family-second;
    }

    .quote-author {
        font-size: (18/ 16) + rem;
        font-weight: 300;
        color: $text-color-secondary;
        text-align: right;
        padding-top: 10px;
    }

    .about-text {
        flex: 0 0 44%;
        font-size: (16 / 16) + rem;
        line-height: 1.8;
    }
}

.contacts-block {
    padding: 105px 0 60px 35%;
    min-height: 200px;
    border-bottom: 1px solid #000;

    .contact {
        margin-bottom: 45px;
    }
}

.contact-name {
    font-family: $font-family-second;
    font-size: (20 / 16) + rem;
    font-weight: 300;
    color: $text-color-secondary;
    margin-bottom: 10px;
}

.contact-email {
    margin: 20px 0 10px;
}

.content-music {
    .audio-subtitle {
        font-size: (30 / 16) + rem;
        line-height: 1.3;
        padding-top: 20px;
        padding-bottom: 70px;
        margin-bottom: 21px;
        white-space: pre-line;
        //border-bottom: 1px solid #222;
    }

    .video {
        position: relative;
        padding-top: 56.25%;
        margin: 24px 0;

        &:first-child {
            margin-top: 0;
        }

        .react-player {
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    .video-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 45px;
        white-space: pre-line;
        border-bottom: 1px solid #979797;
    }

    .video-title {
        font-size: (30 / 16) + rem;
        line-height: 1.3;
        text-transform: uppercase;

        .label {
            display: flex;
            width: 100%;
        }
    }

    .video-description {
        font-size: (12 / 16) + rem;
        text-align: right;
    }

    .youtube-links {
        padding: 24px 0;
    }

    .youtube-link {
        margin: 8px 0;

        svg {
            margin-right: 10px;
        }
    }
}

.tour-block {
    padding: 15px 0 45px;
    border-bottom: 1px solid #222;
}

.events-year {
    font-size: (48 / 16) + rem;
    font-weight: 700;
    text-align: left;
    padding: 30px 10px;
    border-top: 1px solid #979797;
    color: $text-color-secondary;
}

.event {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Raleway', 'sans-serif';
    padding: 30px 10px;
    border-top: 1px solid #979797;

    .event-date {
        flex: 0 0 20%;
        font-weight: 700;
        font-size: (28 / 16) + rem;
        margin-bottom: 10px;
        white-space: pre-line;
        @include respond(sm) {
            font-size: (32 / 16) + rem;
            flex: 0 0 100%;
            white-space: nowrap;
        }
    }

    .event-place {
        flex: 0 0 40%;
        font-weight: 700;
        white-space: pre-line;
        @include respond(sm) {
            flex: 0 0 50%;
            padding: 0 0 20px;
            font-size: (24 / 16) + rem;
        }
    }

    .event-location {
        flex: 0 0 20%;
        white-space: pre-line;
        @include respond(sm) {
            flex: 0 0 40%;
            padding: 0 0 20px;
            font-size: (24 / 16) + rem;
            text-align: right;
        }
    }

    .event-tickets {
        flex: 0 0 20%;
        align-self: flex-start;
        @include respond(sm) {
            flex: 0 0 100%;
        }

        .link {
            display: block;
            width: 100%;
            padding: 10px 0;
            border: 1px solid #34cfc8;
            text-align: center;
            transition: none;
            text-decoration: none;
            @include respond(sm) {
                padding: 10px 0;
                font-size: (24 / 16) + rem;
            }

            &:hover {
                background-color: #000;
                color: $link-active-color;
            }
        }
    }
}

.content-press {
    .high-res-image-link {
        position: absolute;
        left: -15px;
        bottom: 10%;
        padding: 15px;
        color: $link-active-color;
        background-color: $body-bg-color;
    }

    h2.title {
        font-size: (24 / 16) + rem;
        margin: 60px 0 30px;
        @include respond(sm) {
            margin: 30px 0 15px;
        }
    }

    .block-bio {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .bio-content {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;

        .left {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 35%;
            align-content: flex-start;
            padding-right: 20px;
            @include respond(sm) {
                flex: 0 0 100%;
            }
        }

        .right {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 65%;
            align-content: flex-start;
            //padding-right: 20px;
            @include respond(sm) {
                flex: 0 0 100%;
            }
        }
    }

    .bio-items {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 30px;

        .bio-item {
            font-family: $font-family-second;
            line-height: 1.3em;
            font-size: (18 / 16) + rem;
            letter-spacing: 1px;
            margin: 5px 0;

            &::before {
                content: '/\/';
                margin-right: 5px;
            }
        }
    }

    .bio-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        @include respond(sm) {
            margin-bottom: 30px;
        }

        a {
            flex: 2 1 auto;
            padding: 8px 24px;
            border: 1px solid $link-active-color;
            margin-bottom: 15px;

            &:hover {
                color: $link-active-color;
                transition: 0.5s;
            }
        }
    }

    .bio-text-label {
        font-family: $font-family-second;
        font-size: (18 / 16) + rem;
        font-weight: 600;
        margin: 5px 0 20px;
        letter-spacing: 1px;
    }

    .bio-text {
        line-height: 1.8;
    }

    .block-riders {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        margin-bottom: 30px;

        .left {
            flex: 0 0 40%;
            padding-right: 20px;
            @include respond(sm) {
                flex: 0 0 100%;
                padding: 0;
            }
        }

        .right {
            flex: 0 0 60%;
            align-content: flex-start;
            padding-right: 20px;
            @include respond(sm) {
                flex: 0 0 100%;
                padding: 0;
            }
        }
    }

    .rider-item {
        display: flex;
        align-items: baseline;

        a {
            padding: 8px 24px;
            border: 1px solid $text-color-secondary;
            margin: 0 15px 15px 0;

            &:hover {
                color: $text-color-secondary;
                transition: 0.5s;
            }
        }
    }

    .representation-item {
        font-family: $font-family-second;
        font-size: (18 / 16) + rem;
        margin: 5px 0 20px;

        .label {
            color: $text-color-secondary;
            margin-right: 10px;
        }
    }
}

.content-images {
    min-height: 80vh;

    .images {
        display: flex;
        flex-wrap: wrap;
    }

    .img-link {
        flex: 0 0 50%;
        position: relative;
        padding: 5px;

        &:hover {
            span {
                opacity: 1;
            }
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: (24 / 16) + rem;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        svg {
            margin-right: 10px;
        }

        .img-wrap {
            position: relative;
        }
    }
}

.fade-in {
    opacity: 0;
    animation: 1s ease-in-out 0s pageFadeIn forwards;
}

@keyframes pageFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
